<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="AuthenticationCookiesMapping" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!--Entity Framework configs-->
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
		</providers>
		<defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Npgsql" />
			<add name="Npgsql Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.1.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<clear />
		<add name="DefaultConnection" connectionString="Server=bi2fwavifhtq0gl64pto-postgresql.services.clever-cloud.com;Port=5432;Database=bi2fwavifhtq0gl64pto;User Id=ue3dqyzsfpmnkuqu3bqg;Password=eIDjvpRJcifG6qbfd3lp;" providerName="Npgsql" />
	</connectionStrings>

	<!-- Logging related configs -->
	<log4net>
		<!-- In log4net, output destinations are known as appenders -->
		<appender name="InfoLogAppender" type="log4net.Appender.RollingFileAppender">
			<!-- Specify which file to write to -->
			<file value="info.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<!-- How many log files should we keep? -->
			<maxSizeRollBackups value="1" />
			<!-- Roll to a new file when current one hits 1MB -->
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<!-- The format of each line in the log -->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<!-- Specify which file to write to -->
		<appender name="ErrorsLogAppender" type="log4net.Appender.FileAppender">
			<file value="error.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="InfoLogAppender" />
			<appender-ref ref="ErrorsLogAppender" />
		</root>
	</log4net>

	<!-- App running settings -->
	<appSettings>
		<add key="CentralLoginFormName" value="loginForm" />
		<add key="CentralFormUsernameField" value="username" />
		<add key="CentralFormPasswordField" value="password" />
		<add key="CentralAuthenticationSubmissionLink" value="https://www.acesso.gov.pt/v2/login" />
		<add key="CentralForwardSubmissFormName" value="forwardParticipantForm" />
		<add key="FinancesHomepageLink" value="https://sitfiscal.portaldasfinancas.gov.pt/geral/dashboard" />
		<add key="ClientGeneralInfoLink" value="https://sitfiscal.portaldasfinancas.gov.pt/integrada/presentation?queryStringS=targetScreen%3DecraIdentificacao%26hmac%3Dz1DA4exOnazVrAB2PGbKeRYtiOk%3D" />
		<add key="ContactInfoLink" value="https://www.portaldasfinancas.gov.pt/pt/dadosPessoais.action" />
		<add key="LandVehieclesInfoLink" value="https://veiculos.portaldasfinancas.gov.pt/consulta/automoveis/consultar" />
		<add key="RealEstateInfoLink" value="https://www.portaldasfinancas.gov.pt/pt/main.jsp?body=/ca/patrimonio.jsp" />
		<add key="RealEstateExtractionRegEx" value="\$scope\.predios\s=\s(?&lt;Content&gt;.*);" />
		<add key="ImiChargeNotesInfoLink" value="https://www.portaldasfinancas.gov.pt/pt/main.jsp?body=/ca/notasCobrancaForm.jsp" />
		<add key="ImiChargeNotesInfoFormName" value="notasCobrancaIMI" />
		<add key="LogOutLink" value="https://www.acesso.gov.pt//jsp/logout.jsp?partID=PFAP&amp;path=/geral/atauth/logout" />
		<!-- Templates -->
		<add key="AggregateSheetTemplateFilePath" value=".\LocalFiles\Templates\aggregatesheet-template.html" />
		<add key="IUCTemplateFilePath" value=".\LocalFiles\Templates\IUC-vehiecles-template.html" />
		<add key="InvalidEntitiesTemplatePath" value=".\LocalFiles\Templates\invalid-entities-template.html" />
	</appSettings>

	<AuthenticationCookiesMapping>
		<add key="sitfiscal.portaldasfinancas.gov.pt" value="pfapp_JSessionID" />
		<add key="www.portaldasfinancas.gov.pt" value="portalfin_JSessionID" />
		<add key="veiculos.portaldasfinancas.gov.pt" value="cadveacva_JSessionID" />
	</AuthenticationCookiesMapping>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>